@font-face {
  font-family: "SFU Auchon";
  src: url("/fonts/SFU-Auchon.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SVN-Hemi Head";
  src: url("/fonts/SVN-HemiHead.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
